.header-current{
	color: white;
	text-align: center;

	width: 50%;
	padding: 1rem 2rem 2rem 2rem;
}
.header-current p{
	color: white;
}
.current-day{
	font-weight: 600;

	display: flex;
	justify-content: center;
	align-items: center;
}

.current-day h2 {
	font-size: 3em;
    font-weight: 400;
    color:white;
}

.current-day img {
	width: 4.5em;
}

.day-description {
	font-size: 1.1em;
	padding: 0rem 1rem 1rem 1rem;
	color: white;
}
.day-time{
	font-size: 1.1em;
	color: white ;
}