input {
	font-size: 1rem;    
	text-align: center;
}
.header-input{
	color: white;
	background-color: #126B34;
	box-sizing: border-box;
    border-top: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: none;
    padding: 0.4rem 0.4rem;	
    width: 240px;
}
.header-input::placeholder{
	color: white;
}
.header-input:focus{
	outline: none;
}
.first-form-article-input {
	padding: .5rem .5rem;
	margin: 1.5rem 0;
	color: black;

}
.header-button {
	display: flex;
    background-color: #000;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0 12px;
    justify-content: center;
    align-items: center;
}